[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==9.0.0"
slackclient = "==2.0.0"
pytest = "*"
flowdock-api-wrapper = "*"

[dev-packages]

[requires]
python_version = "3.7"
